{% for picture in pictures %}
    <div class="col-xs-6 col-md-4">
        <div class="thumbnail">
            <a target="_blank" href="{{ picture.instagram_link }}">
                <img class="" width="200" src="{{ picture.image_url }}" alt="">
            </a>
            <div class="caption">
                <ul class="list-unstyled list-group">
                    <li>
                        Posted by: <a target="_blank" href="http://instagram.com/{{ picture.username }}">@{{ picture.username }}</a>
                    </li>
                    <li>
                        Tagged by: <span><a target="_blank" href="http://statigr.am/tag/{{ picture.tag }}/">{{ picture.tag }}</a></span>
                    </li>
                    <li>
                        Status: <span id="print-status-{{ picture.id }}">{{ cycle(['<span style="color:red;">not printed</span>', '<span style="color:green;">printed</span>'], picture.is_printed)|raw }}</span>
                    </li>
                    <li id="printed-at-li-{{ picture.id }}" {% if not picture.is_printed %}style="display: none;"{% endif %}>
                        Printed at: <span id="printed-at-span-{{ picture.id }}">{{ picture.printed_at }}</span>
                    </li>
                    <li>
                        Created at: {{ picture.created_at }}
                    </li>
                    <li>
                        <button type="button" data-loading-text="Printing..." data-id="{{ picture.id }}" class="print-now {% if not picture.is_printed %}unprinted{% endif %} btn btn-sm btn-info">Print now!</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endfor %}